div.container-fluid.p-4#footer(style="background:black")
    div.row 
        div.col-md.mb-4 
            img.w-75.mb-3(src="images/f-LOGO.png", alt="", srcset="")
            div 
                a(href="#" style="text-decoration:none") 
                    i.fa-brands.fa-instagram.mx-3(style="font-size:30px;color:white")
                a(href="https://chat.whatsapp.com/IQ4Od7CDaar7zkfmBnMgXf" style="text-decoration:none") 
                    i.fa-brands.fa-whatsapp.mx-3(style="font-size:30px;color:white")
                a(href="#" style="text-decoration:none") 
                    i.fa-brands.fa-facebook.mx-3(style="font-size:30px;color:white")
                a(href="#" style="text-decoration:none") 
                    i.fa-brands.fa-twitter.mx-3(style="font-size:30px;color:white")
        div.col-md-2.mb-4  
            h3.text-white Nav Links
            ul.list-group 
                li.list-group-item.mb-3 
                    a(href="/") Home 
                li.list-group-item.mb-3 
                    a(href="#") About 
                li.list-group-item.mb-3 
                    a(href="#") Course 
                li.list-group-item.mb-3 
                    a(href="#") Contact 
                li.list-group-item.mb-3 
                    a(
                        href="#" 
                        data-bs-toggle="modal" 
                        data-bs-target="#login-modal"
                    ) Login 
                li.list-group-item.mb-3 
                    a(
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#student-modal"
                        ) Register 
        div.col-md.mb-4  
            h3.text-white YouTube videos
            ul.list-group 
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGEmWqcOCwJK7BDUVWs_ZCr5") YOUTUBE PROJECT
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGFNuP8kpGzmcWei_Tq_fgIz") NEW REACTJS 01-09-2023 BATCH
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGFgI7Fcz79X7TwhBVy5hX2m") Javascript Real Time Projects 
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGEOFuyAvnxQ9hC9FxZ-DFA5") ES6 JAVASCRIPT TUTORIAL FOR BEGNNERS 
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGGgVXJsAkA_3x0HpmQsGz9s") NODE JS TUTORIAL IN HINDI 
                li.list-group-item.mb-3 
                    a(href="https://www.youtube.com/playlist?list=PLoi8PK3q1sGGZy4v7wtMNThNP9tRtf9zl") AWS TUTORIAL FOR BIGGINERS 
        div.col-md.mb-4.text-white  
            h3.text-white.mb-3 Contact
            div 
                h5.mb-4 Dean : Mis Nazish Siddique
                h5.mb-4 CEO : Mr Salman Khan
                h5.mb-4 VC : Mis Sifat Fatima
                h5.mb-4 Director : Mr Just For Code 
                h5.mb-4 Manager : Mr Zeeshan Khan
                h5.mb-4 Contact : 
                    small(style="font-size:14px") +91-6393640841 , +91 78601 71055
                h5.mb-4 Email : justforcodeservice@gmail.com
                h5.mb-4 Website : justforcodeservice.com
